

body{
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
h1{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
h2{
    color: rgb(107, 181, 255);
}
p{
    text-align: justify;
    color: rgb(245, 245, 245);
}
a{
    color: rgb(135, 167, 255);
}